.main_component {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.main_component .bg_video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}
.main_component .site_title{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
