@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('./font/AppleSDGothicNeoR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}
