@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('./font/AppleSDGothicNeoR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

button{
  border: 0;
  background-color: transparent;
  cursor: pointer;
}